body
{
	margin:0;
	background-color:#999;
}

[data-role="header"] 
{
	background:red;
	width: 1000px ;
  	margin-left: auto ;
  	margin-right: auto ;
	margin-top: 0px;
}

[data-role="footer"] 
{
	background:black;
	width: 1000px ;
	height:36px;
	margin-bottom: 0px;
	margin-left: auto ;
  	margin-right: auto ;
	position:relative;
}

[data-role="content"] 
{
	background:white;
	width: 1000px ;
	height:100%;
  	margin-left: auto ;
  	margin-right: auto ;
	margin-top: 0px;
	padding:0;
	position:relative;
}

#sidebar-left
{
	background:white;
	width: 200px ;
	height:800px;
  	margin-left: 0px ;
	margin-top: 0px;
	float:left;
	border-right:solid 1px;
	border-color:black;
	}

#sidebar-right
{
	background:white;
	border-left:solid 1px;
	border-color:black;
	width: 200px ;
	height:100%;
  	margin-left: 0px ;
	margin-top: 0px;
	float:right;
	z-index:1;
	height:800px;
	}
	
#content
{
	width:598px;
	float:left;
	background:white;
	height:800px;
	
	
}
	
.has_click
{
	cursor:pointer;
	
}

h1
{
 margin:0;
}